body {
    background: url(../img/engagement-session/sm/engagement_34.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bridesmaids, .groomsmen {
    width: 100%;
    margin-top: 15px;
}

.bridesmaids > .bridesmaid,
.groomsmen > .groomsman {
    position: relative;
    display: inline-block;
    width: 22%;
}

.bridesmaids > .bridesmaid.in-front,
.groomsmen > .groomsman.in-front {
    z-index: 1060;
}

.bridesmaids .bridesmaid:not(:last-child),
.groomsmen a:not(:last-child) {
    margin-right: 2%;
}

.bridesmaids a:focus,
.groomsmen a:focus {
    outline: none;
}

.bridesmaids a img,
.groomsmen a img {
    width: 100%;
    border-radius: 50%;
    -webkit-box-shadow: 7px 10px 15px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:    7px 10px 15px 5px rgba(0,0,0,0.4);
    box-shadow:         7px 10px 15px 5px rgba(0,0,0,0.4);
}

.bridesmaids a img {
    border: 2px solid #fff;
}

.groomsmen a img {
    border: 2px solid #282828;
}

.party-popover {
    max-width: 600px;
    background-color: rgb(255, 255, 170);
    padding: 0;
    border: 2px solid #7d123e;
    font-family: 'Linden Hill', serif;
}

.party-popover.top > .arrow {
    border-top-color: #7d123e;
}

.party-popover.top > .arrow::after {
    border-top-color: rgb(255, 255, 170);
    bottom: 2px;
}

.popover-title {
    background-color: white;
    font-weight: bold;
    padding-bottom: 0;
    font-size: 55px;
    line-height: 1.1;
    font-weight: 500;
    border-bottom: none;
}

.popover-subtitle {
    background-color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 500;
    border-bottom: 2px solid #7d123e;
    padding: 0 14px 7px;
    margin: 0;
}

.modal-backdrop.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
    margin-top: 50px;
}

.popover-content {
    font: 15px 'linLibertineR', Arial, sans-serif;
    line-height: 24px;
    letter-spacing: 0.08em;
    font-style: normal;
    line-height: 1.42857143;
    padding: 14px;
    font-size: 15px;
    font-family: Roboto,Arial,sans-serif;
    padding-top: 7px;
}

@media (min-width: 768px) {
    .modal-backdrop.in {
        margin-top: 0;
        margin-bottom: 50px;
    }

    body {
        background-image: url(../img/engagement-session/lg/engagement_34.jpg)
    }
}