.content-card-col {
    z-index: 100;
}

.google-map-wrapper,
.google-map-cover {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.google-map-cover {
    z-index: 95;
}

.google-map {
    border: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.google-map-wrapper {
    z-index: 90;
}

.google-map-cover {
    background-color: rgb(40, 40, 40);
    opacity: 0.7;
    transition: opacity 1.2s ease, visibility 1.2s ease;
}

.google-map-cover.active {
    opacity: 0;
    visibility: hidden;
}

.google-map .info-window-content {
    line-height:1.35;
    overflow:hidden;
    white-space:nowrap;
}

.navbar-inner {
    background-color: #282828;
}

.info-window-heading {
    font-size: 22px;
}

.view-map-wrapper {
    text-align: center;
    padding-top: 15px;
}

.view-details-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#view-details {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease, visibility 1.2s ease;
    position: relative;
    z-index: 100;
}

#view-details.btn-active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 767px) {
    .content-card-row {
        position: absolute;
        left: 15px;
        right: 15px;
        top: -130%;
        transition: top 1.2s ease;
        z-index: 100;
    }

    .content-card-row:not(.active) {
        top: 65px;
    }
}

@media (min-width: 768px) {
    .google-map-cover,
    .google-map-wrapper {
        top: 0;
        bottom: 50px;
    }

    .google-map-cover {
        opacity: 0;
        visibility: hidden;
    }
    
    .info-window-heading {
        font-size: 36px;
    }
}